@import-normalize;

:root {
  --body-background: #f0f8ff;
  --cart-background: #f0ece9;
  --info-color: #808080;
  --stats-background: #d6d5d5;
  --image-border: #000;
  --text-color: #000;
  --stats-color: #252525e;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: var(--body-background);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
